.actiloo-footer{
  footer{
    position: relative;
    background: #2b2d2e;
    min-height: 480px;
    z-index: 1;
    .footer{
      border-bottom: 1px solid $color-code-7;
      .content{
        margin: 40px;
        .footer-select{
          margin-bottom: 13px ;
          position: relative;
          select{
            height: 42px;
            background: #565a5c;
            border-color: #565a5c;
            color: $color-code-1;
          }
          &:after{
            content: "\67";
            font-family: "untitled-font-3" !important;
            position: absolute;
            right: 7px;
            top: 14px;
            font-size: 11px;
            color: #82888a;
          }
        }
        h4{
          color: $color-code-1;
          margin: 0 0 15px;
        }
        ul{
          padding-left: 0;
          margin: 0;
          li{
            list-style: none;
            margin-bottom: 3px;
            a{
              color: #fff;
            }
          }
        }
      }
    }
    .join{
      margin: 20px 0;
      a{
        color: #ffffff;
      }
    }
    .footer-button{
      button{
        background: none;
        width: 36px;
        height: 36px;
        border: 1px solid $color-code-7;
        border-radius: 50%;
        margin: 0 7px;
        i{
          color: #ffffff;
        }
      }
    }
    .copy-right{
      margin: 20px 0;
      a{
        color: #6c888a;
      }
    }

  }
}


@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
  footer{
    .footer {
      .content {
        margin: 30px 0 !important;
      }
    }}
}
