/* 'My Reservations' page use 'My Activities' page css*/

.my-reservations{
  .tabs{
    margin-bottom: 40px;
  }
  .activity{
    height: 420px !important;
  }
  .row.date{
    margin-top: 5px;
  }
}
